<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MyAccount</display-name>
	<!-- ============================================================== -->
	<!-- Connectivity Proxy servlet  -->
	<!-- Specify name of SecurityHandler implementation as <init-param>  -->
	<!-- if such is available  -->
	<!-- ============================================================== -->

	<servlet>
		<display-name>ConnectivityProxy</display-name>
		<servlet-name>ConnectivityProxy</servlet-name>
		<servlet-class>au.gov.redback.common.connectivity.proxy.ProxyServlet</servlet-class>
		<init-param>
            <param-name>security.handler</param-name>
            <param-value>au.gov.redback.common.connectivity.proxy.SecurityHandler</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
			<servlet-name>ConnectivityProxy</servlet-name>
		
		<!-- ============================================================== -->
		<!-- Replace yourDestinationName1 with real destination name  -->
		<!-- Add additional <url-pattern> for more destinations  -->
		<!-- ============================================================== -->
		
		<url-pattern>/proxy/my307220__public/*</url-pattern>
		<url-pattern>/proxy/yourDestinationName2/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SSLTest</display-name>
		<servlet-name>SSLTest</servlet-name>
		<servlet-class>au.gov.redback.common.connectivity.proxy.SSLTest</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>SSLTest</servlet-name>
		
		<!-- ============================================================== -->
		<!-- Replace yourDestinationName1 with real destination name  -->
		<!-- Add additional <url-pattern> for more destinations  -->
		<!-- ============================================================== -->
		
		<url-pattern>/ssltest/*</url-pattern>
	</servlet-mapping>
	
	<!-- ============================================================== -->
	<!-- Destination access can be further restricted with roles -->
	<!-- Replace Administrator with the role you have -->
	<!-- The role should be assigned to the user who wants to access the application -->
	<!-- This can be done in Hana Cloud Cockpit -->
	<!-- Un-comment the following tags -->
	<!-- ============================================================== -->

	<!--<security-constraint>
    		<web-resource-collection>
	        	<web-resource-name>Access to yourDestinationName1</web-resource-name>
	    	    	<url-pattern>/proxy/yourDestinationName1/*</url-pattern>
	    		</web-resource-collection>
	    	<auth-constraint>
		       	<role-name>Administrator</role-name>
    		</auth-constraint>
		</security-constraint>
	 -->
	<!-- ============================================================== -->
	<!-- JNDI resource definition of DestinationFactory -->
	<!-- ============================================================== -->
	<resource-ref>
		<res-ref-name>connectivity/DestinationFactory</res-ref-name>
		<res-type>com.sap.core.connectivity.api.DestinationFactory</res-type>
		<res-auth>Application</res-auth>
	</resource-ref>
	<!-- ============================================================== -->
	<!-- JNDI resource definition of DestinationFactory -->
	<!-- ============================================================== -->
  <resource-ref>
    <res-ref-name>my307220__public</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
    <res-auth>Application</res-auth>
  </resource-ref>
	<!-- ============================================================== -->
	<!-- JNDI resource definition of KeyStoreService -->
	<!-- ============================================================== -->
  <resource-ref>
    <res-ref-name>KeyStoreService</res-ref-name>
    <res-type>com.sap.cloud.crypto.keystore.api.KeyStoreService</res-type>
    <res-auth>Application</res-auth>
  </resource-ref>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
